{% extends "base.html" %}

{% block content %}
<form class="text-center account-form" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    {{ csrf_token }}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <p>
        {{ form.username(class="form-control", type="text", autocomplete="off", placeholder="Username") }}
        {% for error in form.username.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password(class="form-control", type="password", placeholder="Password") }}
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <div>{{ message }}</div>
    <div class="checkbox mb-3">
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    </div>
    <p>{{ form.submit(type="submit", class="btn btn-dark") }}</p>
</form>
{% endblock %}